/**
 * STYLES FOR FRONTPAGE
 */

.content {

  .posts {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
  }

  .post {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  @include masonry-cols(2, 400px);
  @include masonry-cols(3, 700px);
  //@include masonry-cols(4, 1400px);

  .posts {
    @include row();
    margin: auto;
    .post {
      .post-header {
        .post-title {
          text-align: center;
          a {
            font-family: $main-font-family;
            color: #333;
            font-size: 0.8em;
            font-weight: 400;
          }
        }
      }
      .post-thumb {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        img {
          width: 100%;
        }
      }
      .post-excerpt {
        margin: 10px 0;
        line-height: 1.5em;
      }
      .post-footer {
        border-bottom: 2px solid #444;
        padding: 15px 30px;
        .btn-read-more {
          display: block;
          width: 70%;
          margin: auto;
          padding: 7px 5px 10px;
          text-align: center;
          color: $main-font-color;
          text-decoration: none;
          &:hover {
            background-color: $hover-red;
            border-radius: 30px;
            color: #fff;
          }
        }
      }
    }
  }
  .pagination {
    text-align: center;
    margin-top: 40px;
    font-family: $main-font-family;
    font-size: 16px;
    a {
      color: $main-font-color;
    }
  }
}